nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navbar-laptop-padding);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.logo{
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--active-color);
}