nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navbar-laptop-padding);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.logo{
    width: 240px;
    height:44px;
    display: flex;
    align-items: center;
}
.logo_img{
    width: 100%;
    height: fit-content;
    margin-bottom: -0.8rem;
    margin-left: -1rem;
}
@media (min-width: 1554px) {
  nav{
    padding: var(--navbar-desktop-padding);
}
}