@import url('https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap');
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --navbar-laptop-padding: 1.5rem 8rem;
  --section-laptop-padding: 2rem 8rem;
  --card-padding:1.4rem;

  --card-radius:0.3rem;
  --md-card-radius:0.9rem;
  --icon-radius:2rem;


  --black-color: #414141;
  --grey-color: #636363;
  --active-color: #F77F00;
  --green-color: #25D366;
  --green-active: #18ac4e;
  --white-color: #fff;
  --lightgrey-color: #d8d8d8;
  --blue-color:#2563EB;

  --btn-radius:2rem;

  --xsm-text:0.8rem;
  --sm-text:0.85rem;
  --smd-text:0.9rem;
  --md-text:1.2rem;

  --box-shadow:rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  font-family: "Miranda Sans", sans-serif;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}
a{
  text-transform: capitalize;
  color: var(--black-color);
  transition: color 0.6s ease;
}
a:hover{
  color: var(--active-color);
}
h1{
  font-size: 2.6rem;
  color: var(--black-color);
}
h3,
h2,
h4{
  color: var(--black-color);
}
p{
  color: var(--grey-color);
  font-weight: 300;
}